<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="btn btn-light" href="/app/"><h2><b>Tiendita de<br>Miku</b></h2></a>
        <a class="btn btn-secondary" href="/app/crear_cliente/"><b>Cliente</b></a>
        <a class="btn btn-secondary" href="/app/crear_producto/"><b>Producto</b></a>
        <a class="btn btn-secondary" href="/app/crear_cupon"><b>Cupón de descuento</b></a>
        <a class="btn btn-secondary" href="/app/crear_compra/"><b>Detalle su compra</b></a>
        <a class="btn btn-primary" href="/app/mostrar_clientes/"><b>Buscar Cliente</b></a>
    </div>
</nav>